#blog-content {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}
.topbar{
    width: 100%;
    position: fixed;
}
.page-wrapper{
    margin-top: 80px;
}

.form-input{
    display: flex;
   gap: 20%;
}
.trix-editor body {
    max-height: 200px; 
}
.forms-data{
    display: flex;
    gap:20px ;
}
.blog-post {
    margin-bottom: 20px;
}
.blog-content {
    min-height: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    position: relative;
}
trix-editor img {
    max-width: 100px; 
    max-height: 100px; 
  }
  .profile-pic img{
width: 30px;
  }
  .logo-icon img{
width: 10%;
height: 10%;
  }
.edit-options {
    position: absolute;
    top: 5px;
    right: 5px;
}

.edit-options button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #1d1e1f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.left-sidebar {
    position: fixed;
    margin-top: 40px;
   
    color: #fff;
}

.scroll-sidebar {
    /* overflow-y: auto;
    height: 100%; */
}

.sidebar-nav {
    position: fixed;
    margin-top: 40px;
    
}

.topbar {
   height: 70px;
}


.sidebar-item {
    list-style-type: none;
    margin-bottom: 10px;
}


.sidebar-link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}


.sidebar-link:hover {
    background-color: #1a237e;
}


.sidebar-link i {
    margin-right: 10px;
}

table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.forms {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

.form-popup label,
.form-popup input,
.form-popup textarea {
    display: block;
    margin-bottom: 10px;
}


.form-popup button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-popup button:hover {
    background-color: #45a049;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
#paginationContainer{
    display: flex;
    gap: 10px;
   
}
img{

    object-fit: contain;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


.container {
  padding-top: 20px;
}
.active {
    color: rgb(195, 195, 206);
    font-weight: bold;
    background-color: #1a237e;
}

@media (max-width: 768px) {
    .hide-menu {
        display: none;
    }
    .forms-data{
        display: block;
        width: 100%;
    }
}