#blog-content {
    width: 100%;
    border: 1px solid #ffffff;
    padding: 10px;
    min-height: 100px;
}
  



.dropdown-container {
    
	display: inline-block;
	padding: 10px;
}

.dropdown {
    position: relative;
    border-radius: 50px; /* Move the border-radius from summary to dropdown */
}

.dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    margin: 0;
}

.dropdown summary {
    display: block; /* Change display to block to take up full width */
    cursor: pointer;
    border-radius: 50px; /* Apply border-radius to create a circular shape */
}

.dropdown ul {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 10px #00000030;
    min-width: max-content;
    position: absolute;
    top: 0; 
    left: 100%; 
    transform: translateX(-100%); 
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
}

.dropdown.right ul {
    left: auto; 
    right: 100%; 
    transform: translateX(0); 
}
.material-symbols-outlined{
padding-left: 10px;
}

.dropdown ul {
	padding: 0;
	margin: 0;
	box-shadow: 0 0 10px #00000030;
	min-width: max-content;
	position: absolute;
	top: 100%;
	border-radius: 10px;
	background-color: #fff;
	z-index: 2;
}

.dropdown ul li {
	list-style-type: none;
	display: block;
}

.dropdown ul li:first-of-type {
	border: none;
	background-color: #f2f2f2;
	border-radius: 10px 10px 0 0;
}

.dropdown ul li:last-of-type {
	border-radius: 0 0 10px 10px;
}

.dropdown ul li p {
	padding: 10px 15px;
	margin: 0;
}

.dropdown ul li a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 32px;
	text-decoration: none;
	line-height: 1;
	color: #333;
}

.dropdown ul li a:hover {
	color: #ff34b2;
}

.dropdown ul li.divider {
	border: none;
	border-bottom: 1px solid #333;
}

.dropdown ul li.divider ~ li {
	border: none;
}


.log {
  
}

.log:hover .logout {
    display: block; 
    cursor: pointer; 
}

.topbar{
    width: 100%;
    position: fixed;
}
.page-wrapper{
    margin-top: 60px;
}

.form-input{
    display: flex;
   gap: 20%;
}
.trix-editor body {
    max-height: 200px; 
}
.forms-data{
    display: flex;
    gap:20px ;
}
.blog-post {
    margin-bottom: 20px;
}
.blog-content {
    min-height: 200px;
    padding: 10px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    position: relative;
}
.trix-editor img {
    max-width: 100px; 
    max-height: 100px; 
  }
  .profile-pic img{
width: 30px;
  }
  .logo-icon img{
width: 10%;
height: 10%;
  }
.edit-options {
    position: absolute;
    top: 5px;
    right: 5px;
}
.semi-blog{
    display: flex;
    justify-content: space-between;
}

.edit-options button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #1d1e1f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.left-sidebar {
    position: fixed;
    margin-top: 40px;
   
    color: #fff;
}

.scroll-sidebar {
    /* overflow-y: auto;
    height: 100%; */
}

.sidebar-nav {
    position: fixed;
    margin-top: 40px;
    
}

.topbar {
   height: 70px;
}


.sidebar-item {
    list-style-type: none;
    margin-bottom: 10px;
}


.sidebar-link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}


.sidebar-link:hover {
    background-color: #1a237e;
}


.sidebar-link i {
    margin-right: 10px;
}


.table-container {
    max-height: 300px; 
    padding: 0px 0px;
    overflow-y: auto; 
}

table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    
    height: 60px; 
}

th {
    background-color: #f2f2f2;
}

.imagetable{
    width: 60px;
    position: relative;  
    height: 60px; 
}

.forms {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #2f323f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
#formPopup,
.form-popup {
    display: none;
    position: fixed;
    
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

.form-popup label,
.form-popup input,
.form-popup textarea {
    display: block;
    margin-bottom: 10px;
}


.form-popup button {
    background-color: #140c42;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-popup button:hover {
    background-color: #45a049;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
#paginationContainer{
    display: flex;
margin-top: 20px;
    gap: 10px;
   
}
#chat-pagination{
    display: flex;
    gap: 10px;
    
      
}
#pagination-container{
    display: flex;
    gap: 10px;
    margin-left: 40px;
    padding-bottom: 10px;
}
#chat-pagination button,
#pagination-container button{
    background-color:#0c103b;
    padding: 2px 6px;
}
#pagination-container button.active{
    background: #1a237e;
}
img{

    object-fit: contain;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


.container {
  padding-top: 20px;
}
.active {
    color: rgb(195, 195, 206);
    font-weight: bold;
    
}
.trix-button-row button {
    background-color: white;
}

@media (max-width: 768px) {
    .hide-menu {
        display: none;
    }
    .page-wrapper{
        height: 100%;
        overflow-y: auto;
        }
        #rowd{
            height: 100%;
        }
    .forms-data{
        display: block;
        width: 100%;
    }
}
.page-wrapper{
height: 90vh;
overflow-y: hidden;
background: url(./../images/cyberopsnetworks-it-managed-services-2048x998.jpg) ;
background-position: center;
background-size: cover;
}
.main-content{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;

}
#rowd{
    height: 75vh;
    
}
#comments-container{
    padding: 0px 10px;
    border-color: #1a237e;
}
.comment-widgets .comment-row {
    /* background-color: #b3b3b9; */
    padding: 4px;

 
    
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.avatars{
    display: flex;
    justify-content: space-between;
}